$blue:    #EA6A12  !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #EA1212  !default;
$orange:  #EA6A12 !default;
$yellow:  #EAB012  !default;
$green:   #3BB77E  !default;
$teal:    #20c997 !default;
$cyan:    #12CDEA !default;

// table color
$bs-table-head-bg: #F5F6F8 !default;